.home_button{
    position: absolute;
    color: #4535fd;
    left:95%;
    top:2%;
    background: none;
    border: none;
}

textarea{
    border-radius:40px;
    padding:20px;
    border: none;
    font-family: 'Inter', sans-serif;
 
}

.text_box{
    border: none;
    border-radius: 30px;
    width: 20vw;
    height: 30px;
    padding: 10px;
    background-color: white;
    outline: none;
    font-family: 'Inter', sans-serif;

}

.error_message{
    position: absolute;
    color:rgb(175, 0, 0);
    font-size: large;
}
