@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');


.sign_up_background{
   font-family: 'Inter', sans-serif;
    height:100vh;
    display: flex;
}

.left_side h1{
    font-size: 3ch;
    font-weight: 370;
    left:10%;
    top:1px;
    position: absolute;
    color:rgb(255, 255, 255);
     letter-spacing: .08em;
}



.signup_btn{
    position: absolute;
    width: 75px;
    height: 45px;
    border-radius: 12px;
     border: none;
    background-color: #ffffff;
    left:20%;
    top:93%;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    font-size: 15px;
}

.signup_modal{
    position: absolute;
    background: linear-gradient(to bottom, #f5f4ff, #4535fd);
    align-items: center;
    justify-content: center;
   display:flex;
   top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    border-radius:45px;
    height:85%;
    width:70%;
}

.signup_modal_content{
   
   position:relative;
    background:  #766aff;
    border-radius:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:85%;
    height:90%;
}


.left_side{
    display: flex;
    flex-direction: column;
   
    height:100%;
    width:45%;
    
}

.text_box{
    border: none;
    border-radius: 30px;
    width: 20vw;
    height: 30px;
    padding: 10px;
    background-color: white;
    outline: none;
   

}

label{
    text-align: left;
    font-weight: light;
    font-size: 15px;
    color:white;
}

.left_side form{
    width:100%;
    height:100%;
    padding: 15px;
    display:flex;
    flex-direction: column;
    gap: 15px;
    
   
    justify-content: center;
}

.left_side .login_link{
    font-size:smaller;
    color: #ffffff;
    top:88%;
    left:15%;
}

.right_side{
  
    border-radius:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width:50%;
    height:90%;
    top:16px;
   
  
}

.on-computer{
  width: 100%;
  height:100%;
  object-fit: auto;
  border-radius: 45px;
 
}



.left_side .error_message {
    left: 22%;
    top:8%;
    z-index: 10;
}

